@media (min-width: 768px) {
  #navbar {
    position: fixed; 
    top: 0;          
    left: 0;         
    width: 200px;    
    background-color: black; 
    color: white;   
    padding: 15px;   
    box-shadow: 2px 0 5px rgba(0,0,0,0.5); 
    display: block;  
  }
}

body{
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  font-family: open sans;
}

#navbar a {
    display: block;
    padding: 40px 50px;
    color: white;
    
    
    cursor: pointer;
}
#navbar {
    position: fixed;
    min-width: 290px;
    top: 0px;
    left: 0px;
    width: 300px;
    height: 100%;
    border-right: solid;    
}   
#navbar li {
  list-style:none;
  border: 2px solid orange;
  margin-left: -35px;
  
   
}
#navbar ul{
  height: 100%;
}

#navbar header{
  color: orange;
  font-weight: 800;
  font-size: 22px;
  text-align: center
}
#navbar li:hover{
  background-color: #fff2;
  
}
#navbar a:hover{
  color: orange;
}

#main-doc {
    position: absolute;
    margin-left: 320px;
    padding: 20px;
    margin-bottom: 110px;
}

#main-doc header{
  font-size: 24px;
  color: orange;
}

pre, code{
  background-color: #02051E;
  width: 35vw;
  border-radius: 5px;
}

.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

